body {
margin : 0px;
padding: 0px;

}

.header{
background-color : blue;
width:  100%;
padding: 20px;
text-align: center;
}

.nav  ul{
background-color : orange;
text-align:center;
padding:20px;
margin: 0px;
  -webkit-transition : height 0.5s;
  transition : height 0.5s;
  overflow: hidden;
}

.nav  ul  li{
display :inline;
padding: 20px;

background-color : orange;
  -webkit-transition : height 0.5s;
  transition : height 0.5s;
  -webkit-transition : padding 0.5s;
  transition : padding 0.5s;


}
.nav  ul  li:hover{
background-color: red;
}
.content{

padding: 80px;
padding-top: 20px;
}
.nav  ul  .open{
padding: 20px;
height : 18px;
background-color : green;

}



@media screen and (max-width: 500px) {
.nav  ul  li{
display:block;
overflow: hidden;

}

.nav  ul  .open{
padding: 20px;
height : 18px;
background-color : green;

}

.nav  ul  .close{
height : 0px;
padding: 0px;
}



.nav  ul{
padding:0px;
height: 58px;
}
.nav .visible{
height: 232px;
}
.nav .visible li{
padding: 20px;
background-color : orange;

}


}